<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- <app-incrementador (actualizaValor)="progreso1 = $event" nombre="Tamaño Tablero"></app-incrementador> -->
                <br>
                <!-- <app-incrementador (actualizaValor)="game.size = $event" nombre="Tamaño Tablero" [progreso]="game.size"></app-incrementador>
                <button class="btn btn-dark" type="submit" (click)="drawRectable(game.size)">CREAR TABLERO</button> -->
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- <app-incrementador (actualizaValor)="game.toWin = $event" nombre="Fichas de gane" [progreso]="game.toWin"></app-incrementador> -->

            </div>
        </div>
    </div>
</div>

<!-- GENERA EL CANVAS PARA LA CREACIÓN DEL TABLERO-->

<div style="text-align:center">

    <canvas #canvasRef center id="stage" width="1000" height="1000" (click)="tryPlay($event)"> 
    </canvas>
</div>